<ion-header [translucent]="true">
  <ion-toolbar id='fo' >
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <h3> Détails</h3>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button routerLink="/notifications">
        <h1>{{etd[0].username}}</h1>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >

    <ion-card>
      <ion-card-header>
        <ion-card-title class="space">{{projet.titre}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <h2 class="mode" >Description:  </h2>{{projet.descriptif}}
      </ion-card-content>

      <ion-card-content>
        <h2 class="mode" >Taches à faire: </h2>
        <h5 *ngFor ="let item of taches">
          <ion-icon name="remove-circle-outline"></ion-icon> {{item}}
       </h5>
      </ion-card-content>

      <ion-card-content>
        <h2 class="mode" >Membre(s):  </h2> 
        <h5 *ngFor ="let e of listeDesMembres">
          <ion-icon name="at"></ion-icon> {{e}}
       </h5>
      </ion-card-content>

      <ion-card-content>
        <h2 class="mode" >Délai de réalisation:  </h2>  {{projet.delai_realisation}}
      </ion-card-content>

      <ion-card-content>
        <h2 class="mode" >Livrables attendus:  </h2> 
        <h5 *ngFor ="let item of livrables">
          <ion-icon name="attach-outline"></ion-icon> 
          <a href={{item}} class="reset">{{item}}</a>
       </h5>
      </ion-card-content>

<br>
<br>
<br>
<br>
<br>
</ion-card>
  </div>
</ion-content>