<ion-content> 
  <div class="bg-img">            
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
      <h1>Réinitialiser le mot de passe</h1>
    </ion-buttons>
    
    <br><br><br><br><br><br><br><br><br>

    <h2><ion-icon name="person-circle-outline"></ion-icon></h2>
    
    <ion-input class="box" [(ngModel)]="user.email" placeholder="   Votre@email.com" name = "email" type="email" >
      <ion-icon name="mail-outline"></ion-icon>
    </ion-input>
    <br>
    <ion-button class="boxx" shape="round" fill="outline" (click)="reset_Password()" type="submit">Réinitialiser</ion-button> 
  </div>   
</ion-content>