<ion-header [translucent]="true">
  <ion-toolbar id='fo' >
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <h3>A propos de {{etd[0].username}}</h3>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bg-img">

    <br>
    <br>
    <br>
<h2><ion-icon name="person-circle-outline"></ion-icon></h2>

<h4>
  {{etd[0].username}}
</h4>
<br>
<h5>Identifiant: {{etd[0].username}}</h5>
<h5>Email: {{etd[0].email}}</h5>
<h5>La classe: {{etd[0].laclasse}}</h5>
  
</div>

</ion-content>
