<ion-header [translucent]="true">
  <ion-toolbar id='fo' > 
    <ion-buttons  slot="start">
      <ion-button (click)="goToPost()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <h3>Vos projets</h3>
    </ion-buttons>
     
    <ion-buttons slot="primary">
      <ion-button>
        <h6>{{etd[0].username}}</h6>
        <h1><ion-icon name="person-circle-outline"></ion-icon></h1>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >

    <ion-card>
      <ion-card-header>
        <ion-card-title class="space">{{projet.titre}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <h2 class="mode" >Description:  </h2>{{projet.descriptif}}
      </ion-card-content>

      <!--ion-card-content>
        <h2 class="mode" >Taches à faire: </h2>
        <h5 *ngFor ="let item of taches">
          <ion-icon name="remove-circle-outline"></ion-icon> {{item}}
       </h5>
      </ion-card-content-->

      <ion-card-content>
        <h2 class="mode" >Membre(s):  </h2> 
        <h5 *ngFor ="let e of listeDesMembres">
          <ion-icon name="at"></ion-icon> {{e}}
       </h5>
      </ion-card-content>

      <ion-card-content>
        <h2 class="mode" >Commentaires:  </h2> 
        <h5 *ngFor ="let e of commentaires">
          <ion-icon name="chatbox-outline"></ion-icon> {{e}}
       </h5>
      </ion-card-content>

      <ion-card-content>
        <h2 class="mode" >Livrables attendus:  </h2> 
        <h5 *ngFor ="let item of livrables">
          <ion-icon name="attach-outline" ></ion-icon> 
          <a href={{item}} class="reset">{{item}}</a>
        </h5>
      </ion-card-content>

      <ion-card-content>
        <h2 class="mode" >Date de dépot:  </h2> 
        <h5 *ngFor ="let date of date_depot_etudiant"> 
          <h5 class="reset">> {{date}}</h5>
        </h5>
      </ion-card-content>

      <ion-card-content>
        <h2 class="mode" >Délai de réalisation:  </h2>  {{projet.delai_realisation}}
      </ion-card-content>
      
      

      
      
      <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%</div>
      </div>
       
      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
      </label>
        <br><br>
      <ion-button                     class="boxx" shape="round" fill="outline"  horizontal="end" [disabled]="!selectedFiles" (click)="upload()">Deposer</ion-button>

      
<br>
<br>
<br>
<br>
<br> 

</ion-card>


    

  </div>
</ion-content>



     
